<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867733159834-4drmbg3qs8e9fjr8c2se0r8i7425mmm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867733159834-4drmbg3qs8e9fjr8c2se0r8i7425mmm0</string>
	<key>API_KEY</key>
	<string>AIzaSyATpfC5160s51ib8rB54XDVBMptTRPywV8</string>
	<key>GCM_SENDER_ID</key>
	<string>867733159834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riturajmishra719.Flashgram</string>
	<key>PROJECT_ID</key>
	<string>flashgram-a0d27</string>
	<key>STORAGE_BUCKET</key>
	<string>flashgram-a0d27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867733159834:ios:baca917929be03b5fe8423</string>
</dict>
</plist>